.sementity{
    color: orange !important;
    text-decoration: underline !important;
    font-weight: bolder !important;
    position: relative;
}

.tooltip .tooltiptext {
    overflow: scroll;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 2px;
    padding-right: 10px;
    visibility: hidden;
    font-size: 14px;
    width: 50rem;
    height: 10rem;
    background-color: #a0a0a0;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    position: absolute;
    z-index: 3000;
    bottom: 125%;
    left: -5rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #a0a0a0 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.unsilo-articles{
    border: solid #97bfd8 1px;
    padding: 10px;
    background-color: #97bfd840;
}

.unsilo-article{
    overflow: hidden;
}

.sem-categories{
    border: solid #fbc225 1px;
    padding: 10px;
    background-color: #fbc22540;
}

.sem-category{
    overflow: hidden;
}